.container{
    padding: 20px;
    background-color: #c1c1c1;
}
.head{
    font-size: 25px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.p{
    color: #4a4a4f;

}
.table{

    text-align: left;
    color:#4a4a4f;
    font-size: 18px;
    margin-top: 20px;
}
.ul_child{
    display: flex;
}
.ul_child li{
    padding: 10px;
    text-align: left;
    min-width: 100px;
}
.ul_child li:nth-child(2) {
    color: brown;
}
@media screen and (max-width: 556px){
    .container{
        min-height: calc(100vh - 80px);

    }

}