.container{
    padding: 20px;
    min-height: 100vh;
}

.head{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-bottom: 1px solid #eee;
    max-width: 60%;
    margin: auto;
}
.p{
    color: brown;
    font-size: 15px;
    text-transform: capitalize;
    padding: 20px 0px;
    text-align: center;

}
.table{

    text-align: left;
    color:#4a4a4f;
    font-size: 18px;
    margin-top: 20px;
}
.ul_child{
    display: flex;
}
.ul_child li{
    padding: 10px;
    text-align: left;
    min-width: 100px;
}
.ul_child li:nth-child(2) {
    color: brown;
}

@media screen and (max-width: 556px){
    .container{
        min-height: calc(100vh - 80px);

    }

}