
.details {
    padding: 30px;
}

.h1 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-bottom: 20px;

}

.p {
    color: #737373;
}

.tecno {
    padding: 20px 0px;
}

.tecno_body {
    display: flex;
}

.tecno_body li {
    padding: 10px;
    color: aliceblue;
    background-color: brown;
    margin: 0 5px;
    opacity: .8;
    transition: all 500ms;
    cursor: pointer;


}

.tecno_body li:hover {
    opacity: 1;
}

.project_desc {
    list-style: circle;
    padding: 20px;
    color: #737373;

}

.project_desc li {
    padding: 5px 0;
}

.p_bold {
    font-weight: bolder;
    padding-top: 10px;
    font-size: 18px;
    text-transform: capitalize;
}

.more button {
    padding: 10px 35px;
    color: aliceblue;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: brown;
    opacity: .8;
    cursor: pointer;
    transition: all 500ms;

}

.more button:hover {
    opacity: 1;
}

.images {
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid #eee;
    margin-top: 10px;

}

.full_img img {
    width: 100%;
}

.icon {
    font-size: 25px;
    padding: 0 10px;
    margin: 0px;
}

.a {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}

.grid_2 {
    padding-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.mobile_head {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #eee;
    max-width: 50%;
    color: brown;
    font-weight: bolder;
}

.tecno_body li {
    padding: 10px;
    color: aliceblue;
    background-color: brown;
    margin: 0 5px;
    opacity: .8;
    transition: all 500ms;
    cursor: pointer;


}

.tecno_body li:hover {
    opacity: 1;
}


.alert {
    color: brown;
    opacity: .7;
    padding: 10px 0px;
}


@media screen and (max-width: 720px) {

    .images {
        max-width: 100%;
    }

    .grid_2 {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .grid_2 img {
        width: 100%;
    }
}



