.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    grid-gap: 20px;
    min-height: 100vh;
    max-width: 70%;
    margin: auto;

}
.article{
    padding: 20px 0px;

}
.title {
    font-size: 22px;
    padding: 5px 0;
}
.date{
    color: #737373;
}
.h2{
    padding: 10px 0;
    font-size: 20px;
    color: brown;

}
.p{
    font-size: 16px;
}
.img img{
    width: 100%;
    padding: 10px 0px;
}
.related {
    padding: 30px 0px;
}
.related_item{
    padding: 5px 0;
}
.related_title{
    font-weight: bold;
    cursor: pointer;
}
.related_date{
    color: brown;
}
.head{
    font-size: 20px;
    padding: 10px 0;
}
.share{
    display: flex;

}
.share a{
    padding: 10px 5px;
    font-size: 30px;
    color: brown;
}
.control{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;

}

.control_item{
    display: flex;
    align-items: center;
    align-content: center;
    margin:0 10px;
    cursor: pointer;
    opacity: .8;
    background-color: #c1c1c1;
    padding:10px 20px;
    font-size: 16px;
}
.control_item:hover{
    opacity: 1;
}
.icon{
    padding: 0px 5px;
}
@media screen and (max-width: 720px){
    .container{
        grid-template-columns: 1fr;
        max-width: 90%;
    }
    .related{
        padding: 0;
    }

}
@media screen and (max-width: 1020px){
    .container{
        max-width: 90%;
    }

}